.about-image {
	overflow: hidden;
	border: 4px solid $border-color;
	margin-bottom: 40px;
	img {
		width: 100%;
		display: block;
	}
}
.gallery-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-item {
    margin: 15px;
    width: 300px;
}

iframe {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
