<div class="sidebar-menu hidden-xs hidden-sm">
    <div class="top-section" style="margin-bottom: 0; border-bottom: none;">
        <div class="profile-image">
            <img src="img/profile.jpg" alt="Jay">
        </div>
        <h3 class="profile-title">Jay Patrikar</h3>
        <p class="profile-description">Senior Research Scientist</p>
        <p class="profile-description"><a href="https://fieldai.com/" target="_blank"
                rel="noopener noreferrer">FieldAI</a></p>
    </div>
    <div class="social-icons" style="margin-top: 0; border-top: none; padding-top: 10px;">
        <ul>
            <li><a href="https://www.linkedin.com/in/jaypatrikar" target="_blank" rel="noopener noreferrer"
                    aria-label="LinkedIn profile"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="https://twitter.com/patrikarjay" target="_blank" rel="noopener noreferrer"
                    aria-label="Twitter profile"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://scholar.google.com/citations?user=T16259QAAAAJ&hl=en" target="_blank"
                    rel="noopener noreferrer" aria-label="Google Scholar profile"><i
                        class="ai ai-google-scholar"></i></a></li>
        </ul>
    </div>
    <div class="main-navigation">
        <ul class="navigation">
            <li><a href="index.html"><i class="fa fa-home fa-fw"></i>Home</a></li>
            <li><a href="education.html"><i class="fa fa-graduation-cap fa-fw"></i>Resume</a></li>
            <li><a href="publications.html"><i class="fa fa-file fa-fw"></i>Publications</a></li>
        </ul>
    </div>
</div>