.about-image {
	overflow: hidden;
	border: 4px solid $border-color;
	margin-bottom: 40px;
	img {
		width: 100%;
		display: block;
	}
}
.gallery-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between video items */
    justify-content: space-between; /* Even spacing between items */
}

.video-item {
    flex: 1 1 calc(33% - 30px); /* Ensures 3 videos per row */
    max-width: 32%; /* Max width ensures videos don't overflow */
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Responsive layout for smaller screens */
@media (max-width: 900px) {
    .video-item {
        flex: 1 1 calc(50% - 20px); /* 2 videos per row on medium screens */
        max-width: 48%;
    }
}

@media (max-width: 600px) {
    .video-item {
        flex: 1 1 100%; /* 1 video per row on small screens */
        max-width: 100%;
    }
}
